<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinalProject.styles.css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/css/fontawesome.css">
    <link rel="stylesheet" href="~/css/templatemo-woox-travel.css">
    <link rel="stylesheet" href="~/css/owl.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
</head>
<body>
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <ul class="nav">
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li >
                                <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            @if (User.IsInRole("Administrator"))
                            {
                            <li>
                                <a asp-area="" asp-controller="Admin" asp-action="QueryList">Queries</a>
                            </li>
                            } else {
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="QueryList">Queries</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Tickets">Your Tickets</a>
                            </li>
                            }
                            @if (User.Identity.IsAuthenticated)
                            {
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Query">Ask a Question</a>
                            </li>
                            <li>
                                <button id="logoutButton" type="button">Logout</button>
                            </li>
                            }
                            else
                            {
                            <li >
                                <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li >
                                <a asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a>
                            </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3" style="margin-top:70px">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-auto">
        <div class="container" style="color:white">
            &copy; 2024 - FinalProject
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

    <div class="modal fade" id="logoutConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="logoutConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutConfirmationModalLabel">Confirm Logout</h5>
                </div>
                <div class="modal-body">
                    Are you sure you want to logout?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="cancelLogoutButton" data-dismiss="modal">Cancel</button>
                    <form id="logoutForm" asp-action="Logout" asp-controller="Account" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-primary" id="confirmLogoutButton">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#logoutButton').on('click', function () {
                $('#logoutConfirmationModal').modal('show');
            });

            $('#cancelLogoutButton').on('click', function () {
                $('#logoutConfirmationModal').modal('hide');
            });
        });
    </script>
